*.class
*.log


exampleBackend/target
exampleFrontend/target
exampleShared/target

project/target
project/metals.sbt

.bloop

*.class

.metals

project/project

exampleShared/.jvm/target
exampleShared/.js/target
target

example/backend/src/main/resources/dev.js
example/backend/src/main/resources/prod.js
